{
  "APPWRITE_ENDPOINT": "<APPWRITE_ENDPOINT>",
  "APPWRITE_PROJECT": "<APPWRITE_PROJECT>",
  "FIREBASE_API_KEY": "<FIREBASE_API_KEY>",
  "FIREBASE_APP_ID": "<FIREBASE_APP_ID>",
  "FIREBASE_MESSAGING_SENDER_ID": "<FIREBASE_MESSAGING_SENDER_ID>",
  "FIREBASE_PROJECT_ID": "<FIREBASE_PROJECT_ID>",
  "FIREBASE_STORAGE_BUCKET": "<FIREBASE_STORAGE_BUCKET>",
  "SENTRY_DSN": "<SENTRY_DSN>"
}
